

<head xmlns:th="http://www.thymeleaf.org" th:fragment="common-header">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="../../static/css/myStyle.css" th:href="@{/css/myStyle.css}" type="text/css" rel="stylesheet"/>
    <!--<link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css">-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <!--             Added for code beautifier -->
    <script
            src="../../static/js/prettify/prettify.js"
            th:src="@{/js/prettify/prettify.js}"
            ></script>
    <script
            src="../../static/js/prettify/run_prettify.js"
            th:src="@{/js/prettify/run_prettify.js}"
    ></script>
    <<link href="../../static/css/prettify/prettify.css" th:href="@{/css/prettify/prettify.css}" type="text/css" rel="stylesheet"/>
    <!--<link href="../../static/css/prettify/desert.css" th:href="@{/css/prettify/desert.css}" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/prettify/doxy.css" th:href="@{/css/prettify/doxy.css}" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/prettify/sunburst.css" th:href="@{/css/prettify/sunburst.css}" type="text/css" rel="stylesheet"/>
    <link href="../../static/css/prettify/sons-of-obsidian.css" th:href="@{/css/prettify/sons-of-obsidian.css}" type="text/css" rel="stylesheet"/>
    <!--          --------------------------------------------------              -->
    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.2/angular.min.js"
            ></script>

    <!--- the following 2 links, 2 scripts, and the first function was added for datePicker.
    And it works properly when thymeleafs are not added.
 -Mamun -->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"><!-- th:href="@{/webjars/ui/1.12.1/themes/base/jquery-ui.css}"> -->
    <link rel="stylesheet" href="/resources/demos/style.css" ><!--th:href="@{/webjars/ui/1.12.1/themes/base/jquery-ui.css}> -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/myStyle.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );

        function selectGender(gender){

            var genderM = document.getElementById("genderM");
            var genderF = document.getElementById("genderF");
            var genderO = document.getElementById("genderO");

            if (gender == "M"){
                genderM.style.backgroundColor = "#000";
                genderM.style.color = "#fff";

                genderF.style.backgroundColor = "#fff";
                genderF.style.color = "#000";
                genderO.style.backgroundColor = "#fff";
                genderO.style.color = "#000";
            }
            else if(gender=="F"){
                genderF.style.backgroundColor = "#000";
                genderF.style.color = "#fff";

                genderM.style.backgroundColor = "#fff";
                genderM.style.color = "#000";
                genderO.style.backgroundColor = "#fff";
                genderO.style.color = "#000";

            }
            else {
                genderO.style.backgroundColor = "#000";
                genderO.style.color = "#fff";

                genderM.style.backgroundColor = "#fff";
                genderM.style.color = "#000";
                genderF.style.backgroundColor = "#fff";
                genderF.style.color = "#000";
            }

        }
    </script>


    <!---newly added--------- for the new login page... - Mamun---------->

    <style>
        body{
            background-image: url("../../static/images/bg_2.jpg");
        }
    </style>

    <!-- CSS--


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <!-- th:href="@{/webjars/css?family=Roboto:400,100,300,500}"--

    <link rel="stylesheet" href="../../static/css/font-awesome.min.css"  th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../static/css/form-elements.css" th:href="@{/css/form-elements.css}" >
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/css/style.css}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]--
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" th:src="@{/webjars/libs//html5shiv/3.7.0/html5shiv.js}" ></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" th:src="@{/webjars/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!-- Favicon and touch icons --
    <link rel="shortcut icon" href="../../static/ico/favicon.png" th:href="@{/ico/favicon.png}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png"
          th:href="@{/ico/apple-touch-icon-144-precomposed.png}">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png"
          th:href="@{/ico/apple-touch-icon-114-precomposed.png}">

    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png"
          th:href="@{/ico/apple-touch-icon-72-precomposed.png}">

    <link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png"
          th:href="@{/ico/apple-touch-icon-57-precomposed.png}">


    <script src="../../static/js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/jquery.backstretch.min.js" th:src="@{/js/jquery.backstretch.min.js}"></script>


    <!--[if lt IE 10]>
     <script src="../../static/js/placeholder.js" th:src="@{/js/placeholder.js}"></script>
        endif-->

    <script src="../../static/js/scripts.js" th:src="@{/js/scripts.js}"></script> <!--kept this one-->


</head>





