

<head xmlns:th="http://www.thymeleaf.org" th:fragment="common-header">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--<link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css">-->

    <script  th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script

            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script th:src="@{/webjars/angularjs/1.6.2/angular.min.js}"></script>


    <!--- the following 2 links, 2 scripts, and the first function was added for datePicker.
    And it works properly when thymeleafs are not added.
 -Mamun -->
    <!---newly added--------- for the new login page... - Mamun---------->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/business-casual.css}">
    <link th:href="@{/css/myStyle.css}" type="text/css" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!--JS -->
    <script  th:src="@{/webjars/html5shiv/3.7.0/html5shiv.js}"></script>
    <script  th:src="@{/webjars/Respond.js/1.4.2/respond.min.js}"></script>



</head>





