
<div xmlns:th="http://www.thymeleaf.org" th:fragment="common-navbar" class="navbar navbar-fixed-top" role="navigation">
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row well">
                    <div class="col-sm-2">
                        <div >
                            <img src="../images/24School_logo.png" class="center-left img-responsive img-circle" width="120" height="auto" >
                        </div>
                    </div>
            <!--        <div class="col-sm-6">

                    </div>
                </div>

                <div class="row well"> -->
                    <div class="center-block">
                        <br><br>
                        <div class="col-sm-2">
                            <label class="myNavButton">
                                <a href="/home">HOME</a>
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="myNavButton">
                                <a href="/profile">PROFILE</a>
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="myNavButton">
                                <a href="/messages">MESSAGES</a>
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="myNavButton">
                                <a href="/forum">FORUM</a>
                            </label>
                        </div>
                        <div class="col-sm-2">
                            <label class="myNavButton">
                                <a href="/logout">LOGOUT</a>
                            </label>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

    <!-- Footer -->

    <footer>
        <div class="container">
            <div class="row well">

                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                   <p>24School © 2017</p>
                </div>

            </div>
        </div>
    </footer>


    <!-- Javascript -->
<!--
    <div class="container">
        <div>
            <img src="../images/24School_logo.png" class="top-left img-responsive img-circle" width="100" height="auto" >
        </div>
        <div class="row">
            <div class="col-lg-2">
                    <label class="btn myWhiteBtn"><a href="/home"></a>Home</label>
            </div>
            <div class="col-lg-2">
                    <label class="btn myWhiteBtn"><a href="/profile"></a>Profile</label>
            </div>
            <div class="col-lg-3">
                    <label class="btn myWhiteBtn"><a href="/messages"></a>Messages</label>
            </div>
            <div class="col-lg-3">
                    <label class="btn myWhiteBtn"><a href="/forum"></a>Forum</label>
            </div>
            <div class="col-lg-2">
                    <label class="btn myWhiteBtn"><a href="/logout">Logout</a></label>
            </div>
        </div>
    </div>

        <!--
<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
        </div><!--/.nav-collapse
</div>
        -->
</div>