<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
        <title>Project</title>
</head>

<body style="font-family: Georgia, Serif">
<form method="post" action ="/projectLogIn">




    <div class="center-block">
        <img src="../static/images/github.png" th:src="@{/images/github.png}" class="col-md-4 center" th:width="100" th:height="auto"/>
    </div>
    <div class="col-md-5 text-center" style="padding-top: 15%">
        <h2> GitHub</h2>
        <p> All in one place</p>
    </div>
    <div class="col-md-6" style="margin-top: 12%; margin-bottom: 10%">
        <div class="row">
            <div class="col-md-6">
                <h3>Login</h3>
            </div>
        </div>



        <div class="row">

            <div class="col-md-2 col-md-offset-2">
                Username
            </div>


            <div class="col-md-6">
                <input class="col-md-11 simpleinput" name="Username" type="text">
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                Password
            </div>


            <div class="col-md-6">
                <input class="col-md-11 simpleinput" name="Password" type="password">
            </div>
        </div>

        <br>
        <div class="row" style="margin: 20px 0px">
            <div class="col-md-12" style="border: 1px solid gainsboro">
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <button class="btn add-btn" style="float: right">Sign in</button>
        </div><br><br>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />



    </div>
</form>
</body>
</html>