<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common-header">
    <meta charset="UTF-8">
    <title>24 School</title>
    <link href="../static/css/bootstrap.css">
</head>
<body class="container-fluid">
    <div th:include="common/navbar :: common-navbar"></div><br/>
    <div class="container ">
        <div class="row top-margin light-box-course">
            <div class="col-sm-4 pull-left">
                <div th:include="common/sidebar :: common-sidebar"></div>
            </div>
            <div class="col-sm-8 min-height">
                <div class="row">
                    <h1 class="text-primary" th:text="${currTutorial.tutorialsName}"></h1>
                    <h2 class="text-success" th:text="${currTutorial.tutorialsSubject}"></h2>
                </div>
                <div class="row">
                    <video autoplay width="100%" height="auto" id="video1" controls>

                        <!--/*@thymesVar id="videoUrl" type=""*/-->
                        <source th:src="@{/media/{path}(path=${currTutorial.videoUrl})}" type="video/mp4">

                    </video>
                </div>


            </div>

        </div>

    </div>

</body>
</html>