<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common-header" >
    <meta charset="UTF-8">
    <title>24 School</title>
    <link href="../static/css/bootstrap.css">
</head>
<body class="container-fluid">
    <div th:include="common/navbar :: common-navbar"></div><br/>
    <div class="container ">
        <div class="row top-margin light-box-course">
                <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                    <div th:class="pull-left" th:include="common/sidebar :: common-sidebar"></div>
                </div>

                <div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 min-height">
                    <div th:if="${courseContents} == 'in_course'" >
                        <div class="center-block">
                            <!--/*@thymesVar id="currentCourse" type="com.rafid.models.Course"*/-->

                            <h1 class="text-primary" th:text="${currentCourse.courseName}"></h1>
                        </div>
                        <!--/*@thymesVar id="instructor" type=""*/-->
                        <!--/*@thymesVar id="inCoursePrivilege" type=""*/-->
                        <div class="center-block" th:if="${inCoursePrivilege} == 'instructor'">
                            <div id="notice">
                                <h3><a class="text-success" href="#">Post a notice</a></h3>
                            </div>
                            <div id="video">
                                <h3><a class="text-success" href="#">Upload a video tutorial</a></h3>
                            </div>
                            <div id="notice-form" class="form-horizontal hidden">
                                <form  role="form" action="/createNotice" method="post">
                                    <div class="form-group">
                                        <label class="" >Topic :</label>
                                        <input required type="text" name="topic" placeholder="Notice Topic..." class="myLightForm-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="" >Content :</label>
                                        <textarea required name="noticeText" placeholder="Notice contents..." class="myLightForm-control"></textarea>
                                    </div>


                                    <input type="hidden" th:name="userName" th:value="${name}"/>
                                    <!--/*@thymesVar id="currentCourse" type="com.rafid.models.Course"*/-->

                                    <!--/*@thymesVar id="courseId" type="long"*/-->
                                    <input type="hidden" th:name="courseId" th:value="${currentCourse.courseId}"/>

                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="myButton btn btn-success">Submit</button>
                                </form>
                            </div>
                            <div id="video-form" class="form-horizontal hidden">
                                <form role="form" action="/uploadVideo" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="" >Tutorial name :</label>
                                        <input required type="text" name="tutorialsName" placeholder="Video name..." class="myLightForm-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="" >Tutorial Subject :</label>
                                        <input required type="text" name="tutorialsSubject" placeholder="Subject..." class="myLightForm-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="" >Upload Video :</label>
                                        <input required type="file" name="file"  class="form-control">
                                    </div>


                                    <input type="hidden" th:name="userName" th:value="${name}"/>
                                    <!--/*@thymesVar id="currentCourse" type="com.rafid.models.Course"*/-->

                                    <!--/*@thymesVar id="courseId" type="long"*/-->
                                    <input type="hidden" th:name="courseId" th:value="${currentCourse.courseId}"/>

                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="myButton btn btn-success">Upload</button>
                                </form>
                            </div>
                            <div class="row">
                                <h3 class="text-primary">Notices</h3>
                                <div class="list-group">


                                    <!--/*@thymesVar id="courseNotices" type=""*/-->
                                    <a th:each="notice : ${courseNotices}" th:href="@{/enterCourse}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h4 class="mb-1" th:text="${notice.topic}"></h4>

                                        </div>



                                        <p class="mb-1" th:text="${notice.noticeText}"></p>
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                <h3 class="text-primary">Tutorials</h3>
                                <div class="list-group">


                                    <!--/*@thymesVar id="courseNotices" type=""*/-->
                                    <a th:each="tutorial : ${courseTutorials}" th:href="@{/showTutorial(currentCourse=${currentCourse}, tutorialId = ${tutorial.tutorialsId})}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h4 class="mb-1" th:text="${tutorial.tutorialsName}"></h4>

                                        </div>



                                        <p class="mb-1" th:text="${tutorial.tutorialsSubject}"></p>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div  class="center-block" th:if="${inCoursePrivilege} == 'enrollee'">

                        </div>
                    </div>
                    <!--/*@thymesVar id="courseContents" type=""*/-->
                    <div th:if="${courseContents} == 'create_course'">
                        <div class="center-block">

                            <h1 class="text-primary">Create Your Course</h1>

                        </div>

                            <div class="form-horizontal">
                                <form role="form" action="/createCourse" method="post">
                                    <div class="form-group">
                                        <label class="" >Course name :</label>
                                        <input required type="text" name="courseName" placeholder="Course name..." class="myLightForm-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="" >Subject :</label>
                                        <input required type="text" name="subject" placeholder="Subject..." class="myLightForm-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="" >Course description :</label>
                                        <input required type="text" name="courseIntro" placeholder="Description..." class="myLightForm-control">
                                    </div>




                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="myButton btn btn-success">Create</button>
                                </form>
                            </div>


                    </div>
            <!--/*@thymesVar id="courseContents" type=""*/-->
                    <div th:if="${courseContents} == 'normal'">
                        <div class="row center-block">
                            <h1 class="text-primary"><a th:href="@{/preludeTocreateCourse}">Create Your Course</a></h1>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <h2 class="text-primary">My Courses</h2>
                            <div class="list-group">
                                <!--/*@thymesVar id="instructCourses" type=""*/-->
                                <a th:each="course : ${instructCourses}" th:href="@{/enterCourse(courseId=${course.courseId},userType='instructor')}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1" th:text="${course.courseName}"></h5>

                                    </div>



                                    <p class="mb-1" th:text="${course.courseIntro}"></p>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <h2 class="text-primary">Courses Enrolled</h2>
                            <div class="list-group">
                               
                                <!--/*@thymesVar id="enrolledCourses" type=""*/-->
                                <a th:each="course : ${enrolledCourses}" th:href="@{/enterCourse(courseId=${course.courseId},userType='enrollee')}" class="list-group-item list-group-item-action flex-column align-items-start ">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1" th:text="${course.courseName}"></h5>

                                    </div>



                                    <p class="mb-1" th:text="${course.courseIntro}"></p>
                                </a>
                            </div>
                        </div>
                    </div>





                </div>


        </div>



    </div>




</body>
</html>