<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    $(document).ready(function () {
        var x = document.getElementsByTagName("tr");
        var i;
        for (i = 0; i < x.length; i++) {
            var num=x[i].rowIndex;
            if(num%2==0)
            {
                $(x[i].cells[0]).css('background-color','#FFFFFF' );
                // $(x[i].cells[1]).css('background-color','#FFFFFF' );
            }
            else {
                $(x[i].cells[0]).css('background-color', '#F9F9F9');
                // $(x[i].cells[1]).css('background-color','#F9F9F9' );
            }
        }
    });
    $(document).ready(function () {

        var name = document.getElementById("popup").getAttribute("value");
        if(name=="NotAvailable")
        {
            alert("Sorry! That user name is not available");
        }
    });
    $(document).ready(function() {
        $("td").hover(
            function() {
                $(this).css('background-color', '#bcffed');
                $(this).css('color', '#000000');
            },
            function() {
                var x = document.getElementsByTagName("tr");
                var i;
                for (i = 0; i < x.length; i++) {

                    var num=x[i].rowIndex;



                    if(num%2==0)
                    {
                        $(x[i].cells[0]).css('background-color','#FFFFFF' );
                        $(x[i].cells[1]).css('background-color','#FFFFFF' );
                    }
                    else {
                        $(x[i].cells[0]).css('background-color', '#F9F9F9');
                        $(x[i].cells[1]).css('background-color','#F9F9F9' );
                    }
                }

            }
        );
    });
    function onClickModal(modal) {
        var temp="Modal".concat(modal);
        var temp1="#".concat(temp);
        $(temp1).modal();
    }
    function dismissModal(modal)
    {
        var temp="Modal".concat(modal);
        var temp1="#".concat(temp);
        $(temp1).modal('hide');
    }



</script>
<head th:replace="common/header :: common-header">
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<!--<meta th:name="_csrf" th:content="${_csrf.token}"/>
   <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/> -->
<body class="container-fluid ">
<input type="hidden" th:value="${Optional}" id="popup"/>
<div th:include="common/navbar :: common-navbar"></div>
<br/>
<div class="container">
    <div class="row top-margin light-box-course">
    <div class="col-md-4 col-lg-1 col-xs-1 col-sm-1">
        <div th:class="pull-left" th:include="common/sidebar :: common-sidebar"></div>
    </div>
    <div class="col-md-5 col-md-offset-3">
        <div class="col-md-1">
            <form action="/home" method="post">
                <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" style="display: none" id="hidden_button"/>
            </form>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Repositories</th>
                <!-- <th>Last Commit by</th> -->
                <!--<th>Commit message</th> -->
            </tr>
            </thead>
            <tbody>
            <th:block th:each="instance : ${git_user_details}">
                <tr>
                    <td>
                        <form id="form" action="/repoTraverse" method="post">
                            <input  style="background:none;border:none;margin:0;padding:0" type="submit"  name="selects" th:value="${instance.getName()}">
                            <!--  <td th:text="${instance.getLastCommitter()}"></td>createPost('/repoTraverse', {currentPath:${currentPath},select:${instance.getName()}})
                               <td th:text="${instance.getLastMessage()}"></td> -->
                            <input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </form>
                    </td>
                    <td>
                        <!-- <form action="/addCollaborator" method="post" onsubmit="return onAddCollaborator();">
                           \
                           <input name="Add_in" th:value="${instance.getName()}" type="hidden"/>
                           <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                           <!-- </form> -->
                        <button type="submit" class="btn btn-default"th:onclick="'onClickModal(\'' + ${instance.getName()} + '\');'">Add Collaborator</button>
                        <div th:id="'Modal'+${instance.getName()}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Do you want to add a Collaborator</h4>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="navbar-form">
                                            <form action="/addCollaborator" method="post" th:onsubmit="'dismissModal(\'' + ${instance.getName()} + '\');'">
                                                <input class="form-control input-lg" name="Collaborator_name" type="text" placeholder="Git User Name"/>
                                                <input name="Add_in" th:value="${instance.getName()}" type="hidden"/>
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <button type="submit" class="btn btn-success">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <img style="float: left" src="../static/images/collaborator.gif" th:src="@{/images/collaborator.gif}" width="100" height="75">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <!-- Modal -->
    </div>
</div>
</div>
</body>
</html>
<!-- <tr th:onclick="'javascript:createPost(\'' + '/repoTraverse' + '\',
   \'' + ${instance.getName()} + '\',
   \'' + 'post' + '\');'">

     <button th:text="${instance.getName()}" type="submit" name="selects" value="${instance.getName()}"></button>

     -->