<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header :: common-header" >
    <title>24 School</title>
    <!-- Latest compiled and minified CSS -->
</head>
<body>
<div th:include="common/navbar :: common-navbar" />

<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="well">
                <div class="row ">
                    <div class="col-sm-6 well">
                        <p>Latest forum posts</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Notifications</p>
                    </div>
                </div>
                <h1 th:text="'Successfully logged in '+ ${name} +''"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>