<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
</head>

<body>
<form method="post" action="/login">

    <label>Username : </label><input type="text" name="userName" /><br/>
    <label>Password : </label><input type="password" name="password" /><br/>

   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Login"/>
</form>

</body>
</html>