<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header :: common-header" ></head>
<head>
    <title>24 School</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home page">
    <meta name="author" content="Mamun">


    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->

</head>

<body>
<div th:include="common/navbar :: common-navbar"></div>

<div>
    <p id="log"> </p>
</div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">This is your profile:
                    <strong>Username</strong>
                </h2>
                <hr>
                <div>

                    <img id="propic" class="img-responsive img-border img-left" th:src="@{/images/empty-profile-image.jpg}" alt=""
                         width="200" height="200">

                    <form id="file-form" method="post" action="/uploadPropic" enctype="multipart/form-data">
                        <label for="file-upload"> Select a file to upload (Max 1MB)</label>
                        <input required type="file" name="file" value="file-upload" id="file-upload">

                        <input type="hidden" name="dummy" value="habijabi">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <Button type="submit" id="upload-button">Upload</Button>
                    </form>


                </div>
                <hr class="visible-xs">
                <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                <p>A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:include="common/navbar :: common-footer"></div>

<!-- jQuery -->
<script th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<script>
    function downloadPropic() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.response != "")
                    document.getElementById("propic").src = "data:image/jpg;base64," + this.response;
            }
        };
        xhttp.open("GET", "/getPropic", true);
        xhttp.send();
    }

    downloadPropic();

//for uploadPropic
    var form = document.getElementById('file-form');
    var uploadButton = document.getElementById('upload-button');


    // HTML file input, chosen by user
    form.onsubmit = function(event) {

        var formData = new FormData(form);
        event.preventDefault();

        // Update button text.
        uploadButton.innerHTML = 'Uploading...';

        // The rest of the code will go here...
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {

            uploadButton.innerHTML='Upload';
            clearFileInput('file-upload');

            if (this.readyState == 4 && this.status == 200) {

                if(this.response=="success")
                    downloadPropic();
            }
        };
      //  form.submit();
        request.open("POST", "/uploadPropic");
        request.setRequestHeader("enctype", "multipart/form-data");
        request.send(formData);
    }



    function clearFileInput(id)
    {
        var oldInput = document.getElementById(id);

        var newInput = document.createElement("input");

        newInput.type = "file";
        newInput.id = oldInput.id;
        newInput.name = oldInput.name;
        newInput.className = oldInput.className;
        newInput.style.cssText = oldInput.style.cssText;
        newInput.required = oldInput.required;
        // TODO: copy any other relevant attributes

        oldInput.parentNode.replaceChild(newInput, oldInput);
    }




</script>

</body>

</html>
