<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:src="@{/webjars/bootstrap/3.3.7/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:src="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.2.0.min.js"
            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.6.2/angular.min.js"
            th:src="@{/webjars/angularjs/1.6.2/angular.min.js}"></script>

</head>


<body>

    <div class="container well">


        <div class="center-block">
            <img src="../images/24School_logo.png" class="img-circle img-responsive center-block" th:width="300" th:height="auto"/>
        </div>

        <form class="form-horizontal" action="/home" method="post">

            <div class="form-group">
                <label class="col-md-5 control-label">First Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input  name="firstName" placeholder="First Name" class="myForm-control"  type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label">Last Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input  name="lastName" placeholder="Last Name" class="myForm-control"  type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label">Email</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input  name="email" placeholder="Email" class="myForm-control"  type="email">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-5 control-label">Username</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input  name="userName" placeholder="Username" class="myForm-control"  type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label">Password</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input  name="password" placeholder="Password" class="myForm-control"  type="password">
                    </div>
                </div>
            </div>





            <!-- Text input-->

            <div class="form-group">
                <label class="col-md-5 control-label"></label>
                <div class="col-md-3 inputGroupContainer">
                    <div class="input-group">
                        <input  class="myButton  btn btn-success"  type="Submit" value="Sign Up">
                    </div>
                </div>
            </div>




            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        </form>
        <br>
        <div class="row">
            <label class="col-md-4 control-label"></label>
            <span class="col-md-4">
            <label>Already have an account?</label>&nbsp<a  href="/">Sign In</a>
        </span>
        </div>

    </div>

</body>
</html>