<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header :: common-header" ></head>
<head>
    <title>24 School</title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Home page">
    <meta name="author" content="Mamun">


    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
  <link rel="stylesheet" th:href="@{/css/myTabStyle.css}">

</head>

<body class="container-fluid">
<div th:include="common/navbar :: common-navbar"></div>

<div>
    <p id="log"> </p>
</div>

<div class="container">
    <div class="row top-margin">

        <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
                <div th:class="pull-left" th:include="common/sidebar :: common-sidebar"></div>
        </div>
        <div class="col-md-9 col-lg-9 col-xs-9 col-sm-9">
            <div class="box wide-box">
                <div >
                    <hr>
                    <h2 class="intro-text text-center">This is your profile:
                        <strong id="full_name"></strong>
                    </h2>
                    <hr>
                </div>

                <table>
                    <tr>
                        <td>
                            <div >
                                <img id="propic" class="img-responsive img-border img-left" th:src="@{/images/empty-profile-image.jpg}" alt=""
                                     width="200" height="200">

                            </div>
                        </td>
                        <td rowspan="2">
                            <hr class="visible-xs">
                            <div >
                                <div class="tab">
                                    <button class="tablinks" onclick="openCity(event, 'Basic_Info')" id="defaultOpen">Basic Info</button>
                                    <button class="tablinks" onclick="openCity(event, 'Location_Info')">Location Info</button>
                                    <button class="tablinks" onclick="openCity(event, 'Account_Info')">Account Info</button>
                                </div>

                                <div id="Basic_Info" class="tabcontent">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td><strong>Name</strong></td>
                                                <td id="field-0"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Gender</strong></td>
                                                <td id="field-1"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Date of Birth</strong></td>
                                                <td id="field-2"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Profession</strong></td>
                                                <td id="field-3"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="Location_Info" class="tabcontent">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td><strong>Country</strong></td>
                                                <td id="field-4"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>State</strong></td>
                                                <td id="field-5"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>City</strong></td>
                                                <td id="field-6"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Zip Code</strong></td>
                                                <td id="field-7"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="Account_Info" class="tabcontent">
                                    <table class="table table-bordered table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td><strong>Username</strong></td>
                                                <td id="field-8"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Email</strong></td>
                                                <td id="field-9"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>git Username</strong></td>
                                                <td id="field-10"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form id="file-form" method="post" action="/uploadPropic" enctype="multipart/form-data">
                                <label for="file-upload"> Select a file to upload (Max 1MB)</label>
                                <input required type="file" name="file" value="file-upload" id="file-upload">

                                <input type="hidden" name="dummy" value="habijabi">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <Button type="submit" id="upload-button">Upload</Button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div> <!--box-->



            <div class="box wide-box">
                <div >
                    <hr>
                    <h2 class="intro-text text-center">Beautiful boxes
                        <strong>to showcase your content</strong>
                    </h2>
                    <hr>
                    <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>
            </div>
         </div>
    </div>
</div>
<!-- /.container -->

<div th:include="common/navbar :: common-footer"></div>

<!-- jQuery -->
<script th:src="@{/js/jquery.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<script>
    function downloadPropic() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.response != "")
                    document.getElementById("propic").src = "data:image/jpg;base64," + this.response;
            }
        };
        xhttp.open("GET", "/getPropic", true);
        xhttp.send();
    }

    downloadPropic();

//for uploadPropic
    var form = document.getElementById('file-form');
    var uploadButton = document.getElementById('upload-button');


    // HTML file input, chosen by user
    form.onsubmit = function(event) {

        var formData = new FormData(form);
        event.preventDefault();

        // Update button text.
        uploadButton.innerHTML = 'Uploading...';

        // The rest of the code will go here...
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {

            uploadButton.innerHTML='Upload';
            clearFileInput('file-upload');

            if (this.readyState == 4 && this.status == 200) {

                if(this.response=="success")
                    downloadPropic();
            }
        };
      //  form.submit();
        request.open("POST", "/uploadPropic");
        request.setRequestHeader("enctype", "multipart/form-data");
        request.send(formData);
    }



    function clearFileInput(id)
    {
        var oldInput = document.getElementById(id);

        var newInput = document.createElement("input");

        newInput.type = "file";
        newInput.id = oldInput.id;
        newInput.name = oldInput.name;
        newInput.className = oldInput.className;
        newInput.style.cssText = oldInput.style.cssText;
        newInput.required = oldInput.required;
        // TODO: copy any other relevant attributes

        oldInput.parentNode.replaceChild(newInput, oldInput);
    }



///for tabs

    function openCity(evt, sectionId) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(sectionId).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();

    function reloadProfileInfo() {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.response != "") {
                    var result = this.response;
                    var values = result.split(":");

                    document.getElementById("full_name").innerHTML=values[0];
                    for(var i= 0; i<values.length; i++){
                        if(values[i]=="null"){
                            document.getElementById("field-"+i).innerHTML="";
                        }
                        else {
                            document.getElementById("field-" + i).innerHTML = values[i];
                        }
                    }

                }
            }
        };
        request.open("GET", "/getProfileInfo", true);
        request.send();
    }
    reloadProfileInfo();

</script>

</body>

</html>
