<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>24 School</title>

    <!-- gist from common header =========================================
    ===========
    -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"  th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--<link href="../../static/css/bootstrap.css" rel="stylesheet" type="text/css">-->

    <script  th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script

            integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
            crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script th:src="@{/webjars/angularjs/1.6.2/angular.min.js}"></script>


    <!--- the following 2 links, 2 scripts, and the first function was added for datePicker.
    And it works properly when thymeleafs are not added.
 -Mamun -->
    <!---newly added--------- for the new login page... - Mamun---------->

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/business-casual.css}">
    <link th:href="@{/css/myStyle.css}" type="text/css" rel="stylesheet"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!--JS -->
    <script  th:src="@{/webjars/html5shiv/3.7.0/html5shiv.js}"></script>
    <script  th:src="@{/webjars/Respond.js/1.4.2/respond.min.js}"></script>

    <!---------------common header ends here-->

    <script>
        function selectGender(gender){

            var genderM = document.getElementById("genderM");
            var genderF = document.getElementById("genderF");
            var genderO = document.getElementById("genderO");

            if (gender == "M"){
                genderM.style.backgroundColor = "#000";
                genderM.style.color = "#fff";

                genderF.style.backgroundColor = "#fff";
                genderF.style.color = "#000";
                genderO.style.backgroundColor = "#fff";
                genderO.style.color = "#000";
            }
            else if(gender=="F"){
                genderF.style.backgroundColor = "#000";
                genderF.style.color = "#fff";

                genderM.style.backgroundColor = "#fff";
                genderM.style.color = "#000";
                genderO.style.backgroundColor = "#fff";
                genderO.style.color = "#000";

            }
            else {
                genderO.style.backgroundColor = "#000";
                genderO.style.color = "#fff";

                genderM.style.backgroundColor = "#fff";
                genderM.style.color = "#000";
                genderF.style.backgroundColor = "#fff";
                genderF.style.color = "#000";
            }

        }
    </script>

</head>


<body>
<!-- Top content -->
<div th:include="common/navbar :: common-banner"></div>


<div class="light-box ">
    <div class="row">
        <div class="col-sm-3">
        </div>

        <div class="col-sm-6">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h2>Please complete your profile</h2>
                        <p></p>
                    </div>

                </div>
                <div class="form-bottom">
                    <form role="form" action="/completeProfile" method="post" class="registration-form">

                        <div class="form-Group">
                            <label>Gender: </label><br>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn myWhiteBtn" id="genderM">
                                    <input required type="radio" name="gender" value="M" onclick="selectGender('M')">Male
                                </label>
                                <label class="btn myWhiteBtn" id="genderF">
                                    <input required type="radio" name="gender" value="F" onclick="selectGender('F')">Female
                                </label>
                                <label class="btn myWhiteBtn" id="genderO">
                                    <input required type="radio" name="gender" value="O"  onclick="selectGender('O')">Others
                                </label>
                            </div>
                        </div>
                        <div><br></div>
                        <div class="form-group">
                            <label class="">Profession</label>
                            <input name="profession" placeholder="Profession" class="myLightForm-control"  type="text">
                        </div>
                        <div class="form-group">
                            <label class="">Country</label>
                            <input name="country" placeholder="Country" class="myLightForm-control"  type="text">
                        </div>
                        <div class="form-group">
                            <label class="">State</label>
                            <input name="state" placeholder="State" class="myLightForm-control"  type="text">
                        </div>
                        <div class="form-group">
                            <label class="">City</label>
                            <input name="city" placeholder="City" class="myLightForm-control"  type="text">
                        </div>
                        <div class="form-group">
                            <label class="">Zip Code</label>
                            <input  name="zipCode" placeholder="Zip code" class="myLightForm-control"  type="number">
                        </div>

                        <input type="hidden" th:name="userName" th:value="${name}"/>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <button type="submit" class="myButton btn btn-success">Done</button>

                    </form>

                </div>
            </div>

        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>


<div th:include="common/navbar :: common-footer" >
</div>


<!-- Javascript -->
</body>


</html>
















<!--
<div class="container">


    <div class="center-block">
        <img src="../images/24School_logo.png" class="img-circle img-responsive center-block" th:width="300" th:height="auto"/>
    </div>
    <div class="center-block"><h2>Account Created. Please complete your profile</h2></div><br>

    <form class="form-horizontal" action="/completeProfile" method="post">

        <div class="form-group">
            <label class="col-md-5 control-label">Birthdate: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <input required name="birthDate" placeholder="MM/DD/YYYY" id="datepicker" class="myLightForm-control"  type="text"><!-- readonly="readonly"--
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">Gender: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn myWhiteBtn" id="genderM">
                            <input required type="radio" name="gender" value="M" onclick="selectGender('M')">Male
                        </label>
                        <label class="btn myWhiteBtn" id="genderF">
                            <input required type="radio" name="gender" value="F" onclick="selectGender('F')">Female
                        </label>
                        <label class="btn myWhiteBtn" id="genderO">
                            <input required type="radio" name="gender" value="O"  onclick="selectGender('O')">Others
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">Country: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <input name="country" placeholder="Country" class="myLightForm-control"  type="text">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-5 control-label">State: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <input name="state" placeholder="State" class="myLightForm-control"  type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">City: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <input name="city" placeholder="City" class="myLightForm-control"  type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">Zip code: </label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <input  name="zipCode" placeholder="Zip code" class="myLightForm-control"  type="number">
                </div>
            </div>
        </div>




        <!-- Text input--

        <div class="form-group">
            <label class="col-md-5 control-label"></label>
            <div class="col-md-3 inputGroupContainer">
                <div class="input-group">
                    <input  class="myButton  btn btn-success"  type="Submit" value="Done">
                </div>
            </div>
        </div>

        <input type="hidden" th:name="userName" th:value="${name}"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    </form>
</div>

-->